<div class="row mb-3">
  <% @bookmarks.each do |bookmark|%>
    <div class="col">
      <%= render "bookmark", bookmark: bookmark %>
    </div>
  <% end %>
</div>
<div class="d-flex justify-content-center">
  <%= link_to "Add a new bookmark!", new_list_bookmark_path(@list), class: "btn btn-primary" %>
</div>
