<nav class="navbar bg-tertiary">
  <div class="container-fluid mx-5">
    <div class="navbar-brand">
      <%= link_to "My watch lists", root_path, class: "nav-link"%>
    </div>
    <div>
      <%= link_to "new watch list", new_list_path, class: "nav-link"%>
    </div>
  </div>
</nav>
